{% extends 'base.html' %}
{% block content %}
<form  method="POST">
<form class="form-inline" method="post"  enctype="multipart/form-data" >
        {% csrf_token %}
     <div class="form-group">
    <input type="text" class="form-control" placeholder="" name="search">
  </div>
 <button type="submit" class="btn btn-default">搜索菜品</button>
</form><br><br>
        <div><a class="btn btn-primary" href="/app/add/">添加菜品</a>
        </div>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">菜单</div>
  <!-- Table -->
  <table class="table table-bordered">
      <thead>
      <th>菜品图片</th>
      <th>菜品名称</th>
      <th>菜品描述</th>
      <th>制作商家</th>
      <th>菜品价格</th>
      </thead>
      <tbody>
      {% for obj in query_set %}
<tr>
        <th>{% if obj.tupian %}
                <img src="{{ obj.tupian.url }}" 
                     alt="tupian" 
                     style="max-width:50%; border-radius: 10px"
                          width="120"

                height="140"
                >
        {% endif %}
</th>
<th>{{ obj.foodname }}</th>
<th>{{ obj.describ }}</th>
<th>{{ obj.belongshop }}</th>
<th>{{ obj.foodprice }}</th>
<td><a class ="btn btn-primary btn-xs" href="/app/{{ obj.foodid }}/update/">编辑</a>
    <a class ="btn btn-primary btn-xs" href="/app/delete/?nid={{ obj.foodid }}">删除</a></td>
<td><a class ="btn btn-primary btn-xs" href="/comments/{{ obj.foodid }}/commentfoodlist">查看评价</a>
</tr>
      {% endfor %}
      </tbody>
  </table>
</div>
    </form>
{% endblock %}



