<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../../plugins/element-ui/index.css" />
    <link rel="stylesheet" href="../../styles/common.css" />
    <link rel="stylesheet" href="../../styles/page.css" />
    <style>
        #member-app  .notAdmin::after{
            border: 0 !important;

        }
    </style>
</head>
<body>
<div class="dashboard-container" id="trade-app">
    <div class="container">
        <div class="tableBar">
            <el-input
                    v-model="input"
                    placeholder="请输入卡号"
                    style="width: 250px"
                    clearable
                    @keyup.enter.native="handleQuery"
            >
                <i
                        slot="prefix"
                        class="el-input__icon el-icon-search"
                        style="cursor: pointer"
                        @click="handleQuery"
                ></i>
            </el-input>

            <el-date-picker v-model="orderTime"
                            clearable
                            value-format="yyyy-MM-dd HH:mm:ss"
                            type="datetimerange"
                            placeholder="选择日期"
                            range-separator="至"
                            start-placeholder="开始日期"
                            end-placeholder="结束日期"
                            :default-time="['00:00:00', '23:59:59']"
                            style="width: 400px;margin-left: 20px;"
            ></el-date-picker>
            <el-button type="primary" class="search-btn" @click="init">查询</el-button>

        </div>
        <el-table
                :data="tableData"
                stripe
                class="tableBox"
        >
            <el-table-column
                    prop="number"
                    label="卡号"
            ></el-table-column>
            <el-table-column
                    prop="tradeType"
                    label="交易方式"
            >

            </el-table-column>
            <el-table-column
                    prop="tradeMoney"
                    label="交易金额"
            ></el-table-column>

            <el-table-column
                    prop="tradeDate"
                    label="交易日期"
            ></el-table-column>

            <el-table-column
                    prop="remark"
                    label="备注"
            ></el-table-column>

            <el-table-column
                    label="操作"
                    width="160"
                    align="center"
            >
                <template slot-scope="scope">
                    <el-button
                            type="text"
                            size="small"
                            class="blueBug"
                            @click="addUserHandle(scope.row.id)"
                            :class="{notAdmin:user !== 'admin'}"
                    >
                        查看详细信息
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination
                class="pageList"
                :page-sizes="[10, 20, 30, 40]"
                :page-size="pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="counts"
                :current-page.sync="page"
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
        ></el-pagination>
    </div>
</div>
<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="../../plugins/vue/vue.js"></script>
<!-- 引入组件库 -->
<script src="../../plugins/element-ui/index.js"></script>
<!-- 引入axios -->
<script src="../../plugins/axios/axios.min.js"></script>
<script src="../../js/request.js"></script>
<script src="../../api/trade.js"></script>
<script>
    new Vue({
        el: '#trade-app',
        data() {
            return {
                input: '',
                counts: 0,
                page: 1,
                pageSize: 10,
                tableData : [],
                id : '',
                is_delets : '',
            }
        },
        computed: {},
        created() {
            this.init()
            this.user = JSON.parse(localStorage.getItem('userInfo')).username
        },
        mounted() {
        },
        methods: {
            async init () {
                const params = {
                    page: this.page,
                    pageSize: this.pageSize,
                    name: this.input ? this.input : undefined
                }
                await getTradePage(params).then(res => {
                    if (String(res.code) === '1') {
                        this.tableData = res.data.records || []
                        this.counts = res.data.total
                    }
                }).catch(err => {
                    this.$message.error('请求出错了：' + err)
                })
            },
            handleQuery() {
                this.page = 1;
                this.init();
            },

            getTradeType (row) {
                let str = ''
                switch(row){
                    case '0':
                        str =  '存钱'
                        break;
                    case '1':
                        str =  '取钱'
                        break;
                    case '2':
                        str =  '转账'
                        break;

                }
                return str
            },
            // 添加
            addUserHandle (st) {
                if (st === 'add'){
                    window.parent.menuHandle({
                        id: '2',
                        url: '/backend/page/user/add.html',
                        name: '添加用户'
                    },true)
                } else {
                    window.parent.menuHandle({
                        id: '2',
                        url: '/backend/page/user/edit.html?id='+st,
                        name: '修改用户'
                    },true)
                }
            },

            addCardHandle(st){
                window.parent.menuHandle({
                    id: '2',
                    url: '/backend/page/card/add.html?id='+st,
                    name: '添加银行卡'
                },true)
            },


            handleSizeChange (val) {
                this.pageSize = val
                this.init()
            },
            handleCurrentChange (val) {
                this.page = val
                this.init()
            }
        }
    })
</script>
</body>
</html>